{
  "swagger": "2.0",
  "info": {
    "title": "\u65e5\u8d2d\u7f51\u63a5\u53e3",
    "description": "\u65e5\u8d2d\u7f51\u63a5\u53e3\u8bf4\u660e\u6587\u6863",
    "version": "1.0.0"
  },
  "host": "new.rigouwang.com",
  "basePath": "/Api",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Index/querysearch": {
      "post": {
        "tags": [
          "App_Data"
        ],
        "summary": "\u5173\u952e\u5b57\u641c\u7d22",
        "description": "\u65e5\u83b7\u53d6\u5173\u952e\u5b57\u641c\u7d22\u6570\u636e",
        "operationId": "querysearch",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/querysearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u72b6\u6001"
          }
        }
      }
    },
    "/Index/sellerlist": {
      "post": {
        "tags": [
          "App_Data"
        ],
        "summary": "\u5356\u5bb6\u5546\u54c1\u5217\u8868",
        "description": "\u65e5\u83b7\u53d6\u5356\u5bb6\u5546\u54c1\u5217\u8868\u6570\u636e",
        "operationId": "sellerlist",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sellerlist"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u72b6\u6001"
          }
        }
      }
    },
    "/Index/categoryleaf": {
      "post": {
        "tags": [
          "App_Data"
        ],
        "summary": "\u5206\u7c7b\u5217\u8868\u5546\u54c1\u6570\u636e",
        "description": "\u65e5\u83b7\u53d6\u5206\u7c7b\u5217\u8868\u5546\u54c1\u6570\u636e",
        "operationId": "categoryleaf",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/categoryleaf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u72b6\u6001"
          }
        }
      }
    },
    "/Index/appdata_index": {
      "post": {
        "tags": [
          "App_Data"
        ],
        "summary": "\u9996\u9875\u6570\u636e",
        "description": "\u65e5\u83b7\u53d6\u9996\u9875\u6570\u636e-\u8fd4\u56de\u503c\r\n  *  err_code:1(\u6210\u529f)\r\n  *  cat1:\u5206\u7c7b\u4e00\u6570\u636e\r\n  *  cat2:\u5206\u7c7b\u4e8c\u6570\u636e",
        "operationId": "appdata_index",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appdata_index"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u72b6\u6001"
          }
        }
      }
    },
    "/Index/gethomecates": {
      "post": {
        "tags": [
          "App_Data"
        ],
        "summary": "\u4e00\u7ea7\u5206\u7c7b",
        "description": "\u65e5\u83b7\u53d6\u9996\u9875\u6570\u636e-\u8fd4\u56de\u503c",
        "operationId": "gethomecates",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/appdata_index"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u72b6\u6001"
          }
        }
      }
    },
    "/Index/getchildcates": {
      "post": {
        "tags": [
          "App_Data"
        ],
        "summary": "\u5b50\u5206\u7c7b",
        "description": "\u5b50\u5206\u7c7b\uff0c\u5982\u679c\u6ca1\u4e0b\u7ea7\u5206\u7c7b\u4e86\u5c31\u8fd4\u56de\u5546\u54c1\u6570\u636e",
        "operationId": "getchildcates",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/getchildcates"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u72b6\u6001"
          }
        }
      }
    },
    "/User/app_login": {
      "post": {
        "tags": [
          "Reg_and_Login"
        ],
        "summary": "\u767b\u5f55",
        "description": "\u65e5\u8d2d\u7f51\u767b\u5f55\u63a5\u53e3-\u8fd4\u56de\u503c\r\n  *  err_code:-1(\u8ba4\u8bc1\u53c2\u6570\u9519\u8bef)\r\n  *  err_code:1(\u767b\u5f55\u6210\u529f)\r\n  *  err_code:-5(\u8d26\u53f7\u6216\u5bc6\u7801\u9519\u8bef)\r\n  *  err_code:-3(\u7981\u6b62\u8f93\u5165\u975e\u6cd5\u5b57\u7b26)",
        "operationId": "app_login",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u767b\u5f55\u72b6\u6001"
          }
        }
      }
    },
    "/User/app_auto_login": {
      "post": {
        "tags": [
          "Reg_and_Login"
        ],
        "summary": "\u81ea\u52a8\u767b\u5f55",
        "description": "\u65e5\u8d2d\u7f51\u4ee4\u724c\u81ea\u52a8\u767b\u5f55\u63a5\u53e3\r\n  *  err_code:-1(\u8ba4\u8bc1\u53c2\u6570\u9519\u8bef)\r\n  *  err_code:1(\u81ea\u52a8\u767b\u5f55\u6210\u529f)\r\n  *  err_code:-7(token\u5df2\u5931\u6548)",
        "operationId": "app_auto_login",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/auto_login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u767b\u5f55\u72b6\u6001"
          }
        }
      }
    },
    "/User/app_register": {
      "post": {
        "tags": [
          "Reg_and_Login"
        ],
        "summary": "\u6ce8\u518c",
        "description": "\u65e5\u8d2d\u7f51\u6ce8\u518c\u63a5\u53e3\r\n  *  err_code:4(\u6ce8\u518c\u6210\u529f)\r\n  *  err_code:-11(\u6570\u636e\u521b\u5efa\u5f02\u5e38)\r\n  *  err_code:-12(\u6ce8\u518c\u5931\u8d25)\r\n  *  err_code:-13(\u5e10 \u53f7(e-mail)\u5df2\u7ecf\u5b58\u5728)",
        "operationId": "app_register",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/register"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u6ce8\u518c\u72b6\u6001"
          }
        }
      }
    },
    "/User/app_logout": {
      "post": {
        "tags": [
          "Reg_and_Login"
        ],
        "summary": "\u5b89\u5168\u9000\u51fa",
        "description": "\u65e5\u8d2d\u7f51\u5b89\u5168\u9000\u51fa\r\n  *  err_code:-8(\u5b89\u5168\u9000\u51fa\u8bf7\u63d0\u4f9btoken)\r\n  *  err_code:10(\u9000\u51fa\u6210\u529f)\r\n  *  err_code:-9(\u9000\u51fa\u5931\u8d25)",
        "operationId": "app_logout",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/logout"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u9000\u51fa\u72b6\u6001"
          }
        }
      }
    }
  },
  "definitions": {
    "login": {
      "required": [
        "seckey",
        "account",
        "password"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "account": {
          "type": "string",
          "default": "934638307@qq.com"
        },
        "password": {
          "type": "string",
          "default": "123456"
        }
      },
      "type": "object"
    },
    "auto_login": {
      "required": [
        "seckey",
        "token"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "token": {
          "type": "string",
          "default": "0a7f8472871e67b0139e3b5b6b4d7f941e70bb09"
        }
      },
      "type": "object"
    },
    "register": {
      "required": [
        "seckey",
        "email",
        "password",
        "truename",
        "telphone"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "Email": {
          "type": "string",
          "default": "test@test.com"
        },
        "Passwords": {
          "type": "string",
          "default": "123456"
        },
        "TrueName": {
          "type": "string",
          "default": "\u6ce8\u518c\u6d4b\u8bd5\u8d26\u53f7"
        },
        "telphone": {
          "type": "string",
          "default": "13817878347"
        }
      },
      "type": "object"
    },
    "logout": {
      "required": [
        "seckey",
        "token"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "token": {
          "type": "string",
          "default": "0a7f8472871e67b0139e3b5b6b4d7f941e70bb09"
        }
      },
      "type": "object"
    },
    "getchildcates": {
      "required": [
        "seckey",
        "categoryId"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "categoryId": {
          "type": "string",
          "default": "2084039759"
        }
      },
      "type": "object"
    },
    "appdata_index": {
      "required": [
        "seckey"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        }
      },
      "type": "object"
    },
    "querysearch": {
      "required": [
        "seckey",
        "query",
        "param"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "query": {
          "type": "string",
          "default": "\u9f8d\u6587\u5802"
        },
        "param": {
          "type": "object",
          "$ref": "#/definitions/param"
        }
      },
      "type": "object"
    },
    "sellerlist": {
      "required": [
        "seckey",
        "query",
        "param"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "query": {
          "type": "string",
          "default": "yumekoobou"
        },
        "param": {
          "type": "object",
          "$ref": "#/definitions/param"
        }
      },
      "type": "object"
    },
    "categoryleaf": {
      "required": [
        "seckey",
        "query",
        "param"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "query": {
          "type": "string",
          "default": "2084059997"
        },
        "param": {
          "type": "object",
          "$ref": "#/definitions/param"
        }
      },
      "type": "object"
    },
    "param": {
      "required": [
        "page",
        "type",
        "sort",
        "order",
        "store",
        "aucminprice",
        "aucmaxprice",
        "aucmin_bidorbuy_price",
        "aucmax_bidorbuy_price",
        "item_status"
      ],
      "properties": {
        "page": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "sort": {
          "type": "string"
        },
        "order": {
          "type": "string"
        },
        "store": {
          "type": "string"
        },
        "aucminprice": {
          "type": "string"
        },
        "aucmaxprice": {
          "type": "string"
        },
        "aucmin_bidorbuy_price": {
          "type": "string"
        },
        "aucmax_bidorbuy_price": {
          "type": "string"
        },
        "item_status": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "Reg_and_Login",
      "description": "Reg_and_Login"
    },
    {
      "name": "App_Data",
      "description": "App_Data"
    }
  ]
}