{
  "swagger": "2.0",
  "info": {
    "title": "\u65e5\u8d2d\u7f51\u63a5\u53e3",
    "description": "\u65e5\u8d2d\u7f51\u63a5\u53e3\u8bf4\u660e\u6587\u6863",
    "version": "1.0.0"
  },
  "host": "new.rigouwang.com",
  "basePath": "/Api",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/User/app_login": {
      "post": {
        "tags": [
          "\u767b\u5f55"
        ],
        "description": "\u65e5\u8d2d\u7f51\u767b\u5f55\u63a5\u53e3-\u8fd4\u56de\u503c\r\n  *  err_code:-1(\u8ba4\u8bc1\u53c2\u6570\u9519\u8bef)\r\n  *  err_code:1(\u767b\u5f55\u6210\u529f)\r\n  *  err_code:-5(\u8d26\u53f7\u6216\u5bc6\u7801\u9519\u8bef)\r\n  *  err_code:-3(\u7981\u6b62\u8f93\u5165\u975e\u6cd5\u5b57\u7b26)",
        "operationId": "app_login",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u767b\u5f55\u72b6\u6001",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/User/app_auto_login": {
      "post": {
        "tags": [
          "\u81ea\u52a8\u767b\u5f55"
        ],
        "description": "\u65e5\u8d2d\u7f51\u4ee4\u724c\u81ea\u52a8\u767b\u5f55\u63a5\u53e3\r\n  *  err_code:-1(\u8ba4\u8bc1\u53c2\u6570\u9519\u8bef)\r\n  *  err_code:1(\u81ea\u52a8\u767b\u5f55\u6210\u529f)\r\n  *  err_code:-7(token\u5df2\u5931\u6548)",
        "operationId": "app_auto_login",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/auto_login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u767b\u5f55\u72b6\u6001",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/User/app_register": {
      "post": {
        "tags": [
          "\u6ce8\u518c"
        ],
        "description": "\u65e5\u8d2d\u7f51\u6ce8\u518c\u63a5\u53e3\r\n  *  err_code:4(\u6ce8\u518c\u6210\u529f)\r\n  *  err_code:-11(\u6570\u636e\u521b\u5efa\u5f02\u5e38)\r\n  *  err_code:-12(\u6ce8\u518c\u5931\u8d25)\r\n  *  err_code:-13(\u5e10 \u53f7(e-mail)\u5df2\u7ecf\u5b58\u5728)",
        "operationId": "app_register",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/register"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u6ce8\u518c\u72b6\u6001",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/User/app_logout": {
      "post": {
        "tags": [
          "\u5b89\u5168\u9000\u51fa"
        ],
        "description": "\u65e5\u8d2d\u7f51\u5b89\u5168\u9000\u51fa\r\n  *  err_code:-8(\u5b89\u5168\u9000\u51fa\u8bf7\u63d0\u4f9btoken)\r\n  *  err_code:10(\u9000\u51fa\u6210\u529f)\r\n  *  err_code:-9(\u9000\u51fa\u5931\u8d25)",
        "operationId": "app_logout",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "json\u6570\u636e",
            "required": true,
            "schema": {
              "$ref": "#/definitions/logout"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u9000\u51fa\u72b6\u6001",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "login": {
      "required": [
        "seckey",
        "account",
        "password"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "account": {
          "type": "string",
          "default": "934638307@qq.com"
        },
        "password": {
          "type": "string",
          "default": "123456"
        }
      }
    },
    "auto_login": {
      "required": [
        "seckey",
        "token"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "token": {
          "type": "string",
          "default": "0a7f8472871e67b0139e3b5b6b4d7f941e70bb09"
        }
      }
    },
    "register": {
      "required": [
        "seckey",
        "email",
        "password",
        "truename",
        "telphone"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "Email": {
          "type": "string",
          "default": "test@test.com"
        },
        "Passwords": {
          "type": "string",
          "default": "123456"
        },
        "TrueName": {
          "type": "string",
          "default": "\u6ce8\u518c\u6d4b\u8bd5\u8d26\u53f7"
        },
        "telphone": {
          "type": "string",
          "default": "13817878347"
        }
      }
    },
    "logout": {
      "required": [
        "seckey",
        "token"
      ],
      "properties": {
        "seckey": {
          "type": "string",
          "default": "6539a0dc0d313febd9362619bdb94405"
        },
        "token": {
          "type": "string",
          "default": "0a7f8472871e67b0139e3b5b6b4d7f941e70bb09"
        }
      }
    }
  }
}